:root {
    --bddbed: #bddbed; 
    --d7e4ed: #d7e4ed;
    --a22628a:#22628a;
    --ffffff: #ffffff;
    --d000000:#000000;
    --d1d537: #1d5372;
    --dddddd: #dddddd;
    --ccc:    #ccc;
    --g666:   #666;
    --bbb:    #bbb;
}


@media (prefers-color-scheme: light) {
    :root {
        --bddbed: #bddbed; 
        --d7e4ed: #d7e4ed;
        --a22628a:#22628a;
        --ffffff: #ffffff;
        --d000000:#000000;
        --d1d537: #1d5372;
        --dddddd: #dddddd;
        --ccc:    #ccc;
        --g666:   #666;
        --bbb:    #bbb;
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --bddbed: #1e2a36;  
        --d7e4ed: #121a23;  
        --a22628a:#1a4a61; 
        --ffffff: #ffffff;  
        --d000000:#ffffff; 
        --d1d537: #9ccdf2;  
        --dddddd: #3b4f61;  
        --ccc:    #3b4f61;     
        --g666:   #ffffff;     
        --bbb:    #495d71;    
    }
}




/*
#####################
### Styles Global ###
#####################  
*/

    header {
        width: 100%;
        background-color: var(--bddbed);
        padding: 20px 0;
        text-align: center;
        margin-bottom: 0; 
    }
    
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: var(--d7e4ed);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
        color: var(--d000000)
        }
    main {
        flex-grow: 1; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 0; 
        padding-top: 0; 
    }
    
    /*
    ##############
    ### footer ###
    ##############
    */ 
    
    footer {
        margin-top: 50px;
        width: 100%;
        padding: 20px;
        background-color: var(--a22628a);
        color: var(--ffffff);
        text-align: center;
        position: relative;
        bottom: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .contacts a {
        color: var(--ffffff);
        text-decoration: underline;
        margin: 0 5px; 
        font-size: 1rem; 
    }
    footer .contacts a:hover {
        text-decoration: none; 
    }

    /*
    ################
    ### contacte ###
    ################
    */ 

    #photo {
        width: 50%; 
        max-width: 500px; 
        height: auto;
    } 
    .logo {
        margin-bottom: 20px;
    }
    .logo img {
        max-width: 100%; 
        height: auto;
    }
    
    /*
    #################
    ### pragraphe ###
    #################
    */
    
    h1 {
        position: relative;
        align-items: center;
        justify-content: center;
        position:flex;
        text-align: center;
        margin-top: 0; 
        color: var(--d000000);
        font-size: 2.5rem;
        margin-bottom: 10px;
        width:max-content;
    }
    .h1-barre::after{
        content:"";
        background: var(--d1d537);
        height:5px;
        width: 100%;
        left:0%;
        position:absolute;
        top:100%;
        margin: top 10px;
        border-radius: 100px;
    }
    .h1-barre{
        position:relative
    }
    #question {
        font-size: 1.2rem;
        margin: 20px 0;
        max-width: 80%;
    }
    .email-link, .instagram-link {
        display: inline-flex; 
        align-items: center;
        vertical-align: middle; 
    }
    label {
        display: block; 
        margin-bottom: 10px; 
        text-align: center; 
    }
    input {
        width: 80%; 
        padding: 10px; 
        border: 1px solid var(--dddddd); 
        border-radius: 4px; 
        margin-bottom: 15px; 
        display: inline-block; 
    }
    form{
        text-align: justify;
    }
    #presentation{
        display:flex;
        width:50%;
        text-align:justify;
    }
    /*
    ###############
    ### bandeau ###
    ###############
    */
    
    .bandeau {
        padding: 20px 0;
        margin-bottom: 20px; 
    }
    .bandeau .btn {
        background-color: var(--a22628a);
        color: var(--ffffff) ;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1rem;
        margin: 0 10px;
        transition: background-color 0.3s ease;
    }
    .bandeau .btn:hover {
        background-color: var(--d1d537);
    }
    
    /*
    ############
    ### icon ###
    ############
    */
    
    .icon {
        width: 15px; 
        height: auto; 
        transition: transform 0.2s; 
        text-decoration: none;
    }
    .icon:hover {
        transform: scale(1.2); 
    }
    
    /*
    ###############
    ### boutons ###
    ############### 
    */ 
    
    #boutonFuyant {
        position: absolute;
        display: flex;
        justify-content: center;
        cursor: pointer;
        z-index: 2; 
    }
    .buttons {
        text-decoration: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
    }
    .btn {
        cursor: pointer;
        color:  var(--d000000);
        padding: 10px 20px;
        font-size: 1em;
        border: none;
        border-radius: 5px;
        background-color: var(--ccc);
        color: var(--g666);
        transition: background-color 0.3s ease;
        text-decoration: none;
    }
    .btn:hover {
        background-color: var(--bbb);
        animation-name:bounce;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .btn-restart {
        background-color: var(--a22628a); 
        color: var(--ffffff);
        cursor: pointer;
    }
    .btn-restart:hover {
        background-color: var(--d1d537); 
    }
    .buttons-ajout{
        .buttons {
            text-align: center; 
            margin-top: 20px; 
        }
    }
    #btn-admin{
        float: left;
        color: var(--d7e4ed);
        padding: 1px 1px;
    }
    #btn-admin:hover {
        cursor:default;
        }
    
    /*
    ###############
    ### tableau ###
    ###############
    */ 
    
    table {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-collapse: collapse; 
        width: 100%; 
        margin-top: 20px; 
        border-radius: 10px;
    }
    td {
        border: 1px solid var(--a22628a); 
        text-align: left; 
        padding: 12px;
        background-color: var(--bddbed); 
        
    }
    th {
        border: 1px solid var(--a22628a);
        background-color: var(--a22628a); 
        color: var(--ffffff); 
        font-weight: bold; 
       
    }
    
    
    /*
    ######################
    ### logovanimation ###
    ######################  
    */ 
    
    #logoa {
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
        animation-fill-mode: forwards;
        animation-play-state: paused;
      }
    #logoa:hover{
        animation-play-state:running
      }
      
      @keyframes spin {
          from {
              transform:rotateY(0deg);
          }
          to {
              transform:rotateY(360deg);
          }
      }
    
    @keyframes bounce{
        0%{scale:1}
        50%{scale:1.25}
        100%{scale:1}
    }
    #logoc{
        animation-name: tourne;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    @keyframes tourne{
        0%{
            scale:1;
            transform:rotate(0deg)
        }
        50%{
            scale: 0.05;
            transform:rotate(180deg)
        }
        100%{
            scale:1;
            transform:rotate(360deg)
        }
    }
    #logob{
        position: relative;
        animation-name:animsignin;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes animsignin{
        0%{
            left: -30%;    
        }
        
        100%{
            left:30%;
        }
    }
    
    
    /*
    ########################
    ### style responsive ###
    ########################  
    */
    
    
    /*
    ################
    ### tablette ###
    ################  
    */
    @media (max-width: 768px) {
        .bandeau {
            gap: 5px;
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;
            margin-bottom: 10px;
        }
        footer {
            padding: 15px; 
        }
        h1 {
            font-size: 1.5rem;
        }
        .btn {
            padding: 6px 12px; 
            font-size: 0.85rem;
        }
        .logo img {
            max-width: 100%; 
            height: auto; 
        }
    }
    
    /*
    #################
    ### telephone ###
    ################# 
    */
    @media (max-width: 480px) {
        .bandeau {
            gap: 5px;
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;
            margin-bottom: 10px;
        }
        footer {
            padding: 10px; 
            font-size: 0.85rem; 
        }
        h1 {
            font-size: 1.2rem;
        }
        .btn {
            padding: 6px 12px; 
            font-size: 0.8rem; 
        }
        .logo img {
            max-width: 100%; 
            height: auto; 
        }
    }
    /*
    #######################
    ### Petit téléphone ###
    #######################  
    */
    
    @media (max-width: 320px) {
        .bandeau {
            gap: 5px;
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;
            margin-bottom: 10px;
        }
        footer {
            padding: 8px; 
            font-size: 0.8rem; 
        }
        h1 {
            font-size: 0.8rem;
        }
        .btn {
            padding: 4px 8px;
            font-size: 0.7rem;
            margin: 1px; 
        }
        .logo img {
            max-width: 100%; 
            height: auto; 
        }
    }
