.logo
{
    display: block;
    justify-content: center;
    size: 10%;
   }
.contacts
{
    display: block;
    justify-content: center;
    color: blacK;
   }
.login
{
    display: flex;
    justify-content: center;
}
.signin
{
    display: flex;
    justify-content: center;
}
body 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}
h1 
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    margin-bottom: 10px;
    text-align: center;

}
#question 
{
    font-size: 1.2em;
    margin: 20px 0;
    text-align: center;
    max-width: 600px;
}
.buttons 
{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.btn:hover 
{
    background-color: #bbb;
}
.btn-restart 
{
    background-color: #008CBA;
    color: white;
    cursor: not-allowed;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
}
.btn-restart:hover 
{
    background-color: #007bb5;

}
.connecte{
    font-size: x-large;
}
.btn{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: #666;
    transition: background-color 0.3s;
}
#boutonFuyant {
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
footer{
    display: block;
    justify-content: center;
    padding: 5px 50% 5%;
    background-color: #c5e0f1;
    color: #fff;
}
table {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #22628a;
    text-align: left;
    background-color: #c5e0f1;
    padding: 8px;
  }
  
  